﻿@*@section Scripts {
        @Scripts.Render("~/Scripts/Skripta.js")
    }*@

@* PRIJAVA ************************************************************************* *@
<div class="container" id="divPrijava">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div>
                <h2 class="text-center">Prijava</h2>
            </div>
            <form method="post" action="post/" class="form-horizontal " id="formPrijava">
                <div class="form-group ">
                    <label for="priEmail" class="col-sm-4 control-label">Korisnicko ime:</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="priEmail" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="priLoz" class="col-sm-4 control-label">Lozinka:</label>
                    <div class="col-sm-8">
                        <input class="form-control" type="password" id="priLoz" required />
                    </div>
                </div>
                <div class="form-group">

                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-3 center-block">
                        <button type="submit" class="btn btn-default"> Prijava </button>
                    </div>

                    <div class="col-sm-3">
                        <button type="button" class="btn btn-default btn-danger" id="btnRegistracija"> Registracija </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@* REGISTRACIJA ************************************************************************* *@
<div class="container hidden" id="divRegistracija">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div>
                <h2 class="text-center">Registracija</h2>
            </div>
            <form method="post" action="post/" class="form-horizontal" id="formRegistracija">
                <div class="form-group">
                    <label for="regEmail" class="col-sm-4 control-label">Korisnicko ime</label>
                    <div class="col-sm-8">
                        <input type="email" class="form-control" id="regEmail" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="regLoz" class="col-sm-4 control-label">Lozinka</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="regLoz" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="regLoz2" class="col-sm-4 control-label">Ponovi lozinku</label>
                    <div class="col-sm-8">
                        <input type="password" class="form-control" id="regLoz2" required />
                    </div>
                </div>
                <div class="form-group">

                </div>
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-4 center-block">
                        <button type="submit" class="btn btn-default"> Registruj se </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@* INFO (Prijavljen korisnik - odjava) ****************************************************** *@
<div class="container hidden" id="info">
    <div class="row">
        <div class="form-group">

        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <div class="col-sm-8">
                <label>Prijavljen korisnik: </label>
                <span id="prijavljen"></span>
            </div>
            <div class="col-sm-4">
                <div>
                    <button class="btn btn-default" id="odjava"> Odjava </button>
                </div>
            </div>
        </div>
    </div>
</div>

@* TABLE ************************************************************************* *@
<div class="container">
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <h2 class="text-center">Festivali</h2>
            <table class="table table-bordered table-hover text-center" id="table1">
                <thead>
                    <tr class="active">
                        <th class="text-center">Naziv</th>
                        <th class="text-center">Mesto</th>
                        <th class="text-center">Godina</th>
                        <th class="text-center">Cena</th>
                        <th class="text-center showHide hidden">Edit</th>
                        <th class="text-center showHide hidden">Delete</th>
                    </tr>
                </thead>
                <tbody id="tableData1">
                    @*<tr>
                            <td>naziv1</td>
                            <td>mesto1</td>
                            <td>godina1</td>
                            <td>cena1</td>
                        </tr>*@
                </tbody>
            </table>
        </div>
    </div>
</div>

@* PRETRAGA  ******************************************************************* *@
<div class="container hidden" id="pretraga">
    <div class="row">
        <div class="form-group">
            <h2 class="text-center">Pretraga festivala</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <form method="post" action="post/" class="form-horizontal " id="formPretraga">
                <div class="form-group ">
                    <label for="start" class="col-sm-2 control-label">Start: </label>
                    <div class="col-sm-3">
                        <input type="number" class="form-control" id="start" min="1951" max="2017" required />
                    </div>
                    <label for="kraj" class="col-sm-2 control-label">Kraj: </label>
                    <div class="col-sm-3">
                        <input class="form-control" type="number" id="kraj" min="1951" max="2017" required />
                    </div>
                    <div class="col-sm-2 center-block">
                        <button type="submit" class="btn btn-default"> Pretraga </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

@* DODAVANJE / IZMENA  ************************************************************* *@
<div class="container hidden" id="dodavanje">
    <div class="row">
        <div class="form-group">
            <h2 class="text-center">Dodavanje novog festivala</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-offset-3 col-sm-6">
            <form method="post" action="post/" class="form-horizontal " id="addEditForm">
                <div class="form-group">
                    <label for="naziv" class="col-sm-5 control-label">Naziv: </label>
                    <div class="col-sm-1">

                    </div>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" id="itemName" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="cena" class="col-sm-5 control-label">Cena karte: </label>
                    <div class="col-sm-3">

                    </div>
                    <div class=" col-sm-4">
                        <input class="form-control" type="number" id="itemPrice" step="0.01" min="0" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="godine" class="col-sm-5 control-label">Prvo odrzavanje: </label>
                    <div class="col-sm-3">

                    </div>
                    <div class="col-sm-4">
                        <input class="form-control" type="number" id="itemDate" min="1951" max="2017" required />
                    </div>
                </div>
                <div class="form-group">
                    <label for="sel1" class="col-sm-5 control-label">Mesto: </label>
                    <div class="col-sm-1">

                    </div>
                    <div class="col-sm-6">
                        <select class="form-control" id="sel1">
                            @*<option value="test">Test</option>*@
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-3 col-sm-3 center-block">
                        <button type="submit" class="btn btn-default" id="btnAdd"> Dodavanje </button>
                    </div>
                    <div class="col-sm-3">
                        <button type="button" class="btn btn-default btn-danger" id="btnQuit"> Odustajanje </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
